.media {
    height: 250px;
  }
  .border {
    border: solid;
  }
  .fullHeightCard {
    height: 100%;
  
  }
  .card {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
   
  }
  .activeCard {
    border-bottom: 10px solid #22289a;
  }
  .grid {
    display: flex;
   
  }
  .details {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  
  }
  .title {
    padding: 0 16px;
  }

  .cardActions {
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
 
  }

